{% extends 'base.html.twig' %}

{% block title %}Car Dealership Application
{% endblock %}

{% block body %}
	<div class="container-xl"></div>

	<div class="row">
		<div class="col-6">
			<lottie-player src="https://assets2.lottiefiles.com/packages/lf20_gdzapmjf.json" autoplay loop speed="0.6" id="about-lottie" style="height: 50vh;"></lottie-player>
		</div>

		<div class="col-6 d-flex align-items-center">
			<h1>Welcome to our car dealership, where
				<span class="red-color">dreams</span>
				on
				<span class="red-color">wheels</span>
				come to life !</h1>
		</div>
	</div>
	<hr class="my-4">

	<div class="row text-center">
		<div class="col-12">
			<h3>Current weather in
				<span class="red-color">Paris</span>
				:
				<span id="temperature">{{ data.current_weather.temperature }}</span>°
			</h3>
			<h3>Generation time :
				<span id="generation">{{ data.generationtime_ms }}</span>
			</h3>
			<p>I also put another data, "generationtime_ms", and I update the temperature and "generationtime_ms" every 5 seconds thanks to script.js, in order to show you that the api call works.</p>
		</div>
	</div>

	<hr class="my-4">

	<div class="row">

		<div class="text-center admin">
			<div class="col-12">
				<h2>Are you an
					<span class="red-color">admin</span>
					of the site?</h2>
				<a href="{{path('app_car_index')}}" class="fs-4 ">I want to
					<span class="red-color">manage cars</span>
				</a>
				<br>
				<a href="{{path('app_car_category_index')}}" class="fs-4">I want to manage
					<span class="red-color">car categories</span>
				</a>
			</div>
		</div>
	</div>

	<hr class="my-4">


{% endblock %}
