{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container-xl"></div>

	<div class="row">
		<div class="col-6">
			<lottie-player src="https://assets2.lottiefiles.com/packages/lf20_gdzapmjf.json" autoplay loop speed="0.6" id="about-lottie"></lottie-player>
		</div>

		<div class="col-6 d-flex align-items-center">
			<h1>Welcome to our car dealership, where dreams on wheels come to life !</h1>
		</div>
	</div>


{% endblock %}
