{% extends 'base.html.twig' %}

{% block title %}Cars
{% endblock %}

{% block body %}
	<div class="container-xl">
		<div class="row">
			<div class="col-3">
				{% include "shared/_filter.html.twig" with {form: form} %}
			</div>
			<div class="col-9">
				<div class="row mb-5">
					{% for car in cars %}
						<div class="col-3 mb-2">
							{% include "shared/_card_car.html.twig" with {car: car}  %}
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="mt-4">
				{{knp_pagination_render(cars)}}
			</div>
		</div>
	</div>

{% endblock %}
