<div class="card">
	<img src="{{car.pictureUrl}}" alt="" class="card-img-top">
	<div class="card-body">
		<h5 class="card-title">{{car.name}}</h5>
		<div class="card-title">{{car.cost}}
			€</div>
	</div>
</div>
