<div class="card h-100">
	<img src="{{car.pictureUrl}}" alt="" class="card-img-top">
	<div class="card-body">
		<h5 class="card-title">{{car.name}}</h5>
		<div class="card-title">{{car.cost}}€</div>
		<span class="badge text-bg-primary">{{car.getBelonging().name}}</span>
	</div>
</div>
